body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#clickBtn:active {
    background-color: orange;
}
